/* src/Footer.css */
.footer {
    background-color: #d8d7d7;
    padding: 5px;
    text-align: center;
    color: #333;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .center {
    padding: 5px;
    text-align: center;
  }